* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: rgb(20, 20, 20);
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    background-color: rgb(275, 275, 205);
}

.main-container {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 30px;

    background-image: url(images/pug-life.jpg);
    background-size: cover;
    background-position: center; 
    overflow: hidden;

    position: relative;
}

.title {
    margin:auto;
    width: 90%;
    padding: 5px;
    background-color: rgba(275, 275, 205, 0.9);
    border-radius: 10px;
}

h1 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

p {
    display: inline;
    background-color: rgba(275, 275, 205, 0.9);;
    padding: 6px;
    border-radius: 8px;
    font-size: 12px;
    position: absolute;
    left: -325px;
    

    transition: left 50ms ease-in-out;
}

.main-container:hover p {
    left:25px;
    visibility: visible;
}

.p1 {
    top: 100px;
}

.p2 {
   top:135px;
}

.p3 {
    top: 170px;;
}

